@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
:root {
  --font-family: "Poppins", sans-serif;
  --content-width: 1216px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000000;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.text-align-c {
  text-align: center;
}

.text-align-r {
  text-align: right;
}
@media (max-width: 768px) {
  .text-align-r {
    text-align: center;
  }
}

input:focus::-webkit-input-placeholder {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: transparent;
}

input:focus:-moz-placeholder {
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  color: transparent;
}

input:focus::-moz-placeholder {
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  color: transparent;
}

input:focus:-ms-input-placeholder {
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  color: transparent;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}
@media (max-width: 768px) {
  .container {
    padding: 0 24px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  width: 100%;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
}

h2 {
  margin: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 164px;
  height: 56px;
  border-radius: 15px;
  background: #ffffff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn span {
  font-weight: 600;
  font-size: 14px;
  line-height: 47px;
  background: -webkit-gradient(linear, left top, right top, from(#ff6800), to(#ff1f00));
  background: -o-linear-gradient(left, #ff6800 0%, #ff1f00 100%);
  background: linear-gradient(90deg, #ff6800 0%, #ff1f00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 164px;
  height: 56px;
  border-radius: 15px;
  background: -webkit-gradient(linear, left top, right top, from(#ff6800), to(#ff1f00));
  background: -o-linear-gradient(left, #ff6800 0%, #ff1f00 100%);
  background: linear-gradient(90deg, #ff6800 0%, #ff1f00 100%);
}
.btn:hover span {
  color: #ffffff;
  -webkit-text-fill-color: #fff;
}

.header {
  background-image: url(../img/svg/header_bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 887px;
  width: 100%;
}
.header .row {
  padding-top: 160px;
}
@media (max-width: 768px) {
  .header .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.header .row.justify-content {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-title {
  margin: 0;
  max-width: 448px;
  color: #ffffff;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .header-title {
    text-align: center;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .header-btn {
    margin: 0 auto 84px;
  }
}
.header-img {
  max-width: 490px;
}

.burger {
  --burger-width: 30px;
  --burger-height: 30px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  z-index: 999;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.nav {
  margin-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.nav .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav .logo {
  width: 160px;
  height: 36px;
  display: block;
}
.nav .burger__line {
  width: 23.49px;
  border-radius: 2px;
}
.nav .burger__line.endline {
  width: 23.49px;
}
.nav .burger::before,
.nav .burger::after {
  width: 30.21px;
  border-radius: 2px;
}
.nav .burger::before {
  top: 0;
}
.nav .burger__line {
  width: 23.49px;
  left: 6.72px;
  top: 6px;
}
.nav .burger::after {
  top: 10px;
}
.nav .burger__line.endline {
  left: 6.72px;
  top: 16px;
}
.nav .burger::before,
.nav .burger::after,
.nav .burger__line {
  color: #ffffff;
}
.nav .burger--active .burger__line {
  display: none;
}
.nav .burger--active::before,
.nav .burger--active::after {
  top: 20%;
  left: -10px;
  color: #000000;
}
.nav .nav_list {
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  z-index: 10;
  overflow: hidden;
  -webkit-box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);
  box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);
  width: 0;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav .nav_list ul {
  margin-top: 80px;
}
.nav .nav_list.menu--active {
  width: 50%;
  height: 100%;
}

.features {
  text-align: center;
  margin-top: 58px;
  margin-bottom: 58px;
}
@media (max-width: 768px) {
  .features {
    margin-top: 100px;
  }
}
.features .grid {
  display: -ms-grid;
  display: grid;
  gap: 32px;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  margin-top: 32px;
}
@media (max-width: 768px) {
  .features .grid {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    margin: 32px 40px 0;
  }
}
.features_title {
  text-align: center;
  margin-bottom: 10px;
}
.features_subtitle {
  text-align: center;
}
.features_card {
  min-height: 300px;
  padding: 40px;
  background: #fafafa;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}
@media (max-width: 768px) {
  .features_card {
    min-height: auto;
  }
}
.features_card-img {
  max-width: 60px;
  max-height: 60px;
}
.features_card-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.features_card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #808080;
}

.video {
  height: 600px;
  background-image: url(../img/video_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1440px) {
  .video {
    height: 400px;
  }
}
@media (max-width: 768px) {
  .video {
    height: 320px;
  }
}
.video .container,
.video .row {
  height: 100%;
}
.video .row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.video .video_btn {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.video .video_btn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.testimonials {
  margin: 58px 0;
  text-align: center;
}
.testimonials .swiper-pagination-bullet:only-child {
  display: block !important;
}
.testimonials .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.testimonials-slider {
  margin-top: 32px;
}
.testimonials .swiper-slide {
  padding: 2px;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#ff6800), to(#ff1f00));
  background: -o-linear-gradient(left, #ff6800 0%, #ff1f00 100%);
  background: linear-gradient(90deg, #ff6800 0%, #ff1f00 100%);
  border-radius: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.testimonials_card {
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  padding: 40px;
  background: #ffffff;
  border-radius: 15px;
}
.testimonials_card .row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 24px;
}
.testimonials_card-text {
  font-weight: 400;
  font-size: 14px;
  color: #808080;
}
.testimonials_card-info {
  margin-left: 12px;
  text-align: left;
}
.testimonials_card-info_img {
  width: 55px;
  height: 55px;
}
.testimonials_card-info_name {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #333333;
  margin-bottom: 10px;
}
.testimonials_card-info_position {
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  color: #666666;
}
.testimonials .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: -webkit-gradient(linear, left top, right top, from(#ff6800), to(#ff1f00));
  background: -o-linear-gradient(left, #ff6800 0%, #ff1f00 100%);
  background: linear-gradient(90deg, #ff6800 0%, #ff1f00 100%);
}
.testimonials .swiper-pagination {
  position: relative;
  margin-top: 32px;
}

.experience {
  background-image: url(../img/high_quality-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 560px;
  width: 100%;
}
@media (max-width: 1024px) {
  .experience {
    height: auto;
  }
}
.experience .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 54px 0;
}
@media (max-width: 768px) {
  .experience .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
.experience_image {
  max-width: 588px;
}
@media (max-width: 768px) {
  .experience_image {
    display: none;
  }
}
.experience_image-mobile {
  display: none;
}
@media (max-width: 768px) {
  .experience_image-mobile {
    display: block;
    margin-top: 32px;
  }
}
.experience .max-width {
  max-width: 488px;
}
.experience_title {
  color: #ffffff;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .experience_title {
    text-align: center;
  }
}
.experience_text {
  color: #cccccc;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .experience_text {
    text-align: center;
    margin-bottom: 12px;
  }
}
.experience .progress-bar {
  background-color: #ffe0cb;
  border-radius: 1000px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 380px;
  height: 8px;
  border: none;
}
@media (max-width: 768px) {
  .experience .progress-bar {
    width: 100%;
  }
}
.experience .progress-bar-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #cccccc;
  margin-bottom: 8px;
  margin-top: 16px;
}
.experience .progress-bar-text:first-child {
  margin-top: 0;
}
.experience .progress {
  background: -webkit-gradient(linear, left top, right top, from(#ff6800), to(#ff1f00));
  background: -o-linear-gradient(left, #ff6800 0%, #ff1f00 100%);
  background: linear-gradient(90deg, #ff6800 0%, #ff1f00 100%);
  border-radius: 1000px;
  height: 8px;
  width: 0;
  -webkit-transition: width 0.5s ease-in;
  -o-transition: width 0.5s ease-in;
  transition: width 0.5s ease-in;
}

.question .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 0;
}
@media (max-width: 768px) {
  .question .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.question_image {
  max-width: 600px;
}
@media (max-width: 768px) {
  .question_image {
    display: none;
  }
}
.question_image-mob {
  display: none;
}
@media (max-width: 768px) {
  .question_image-mob {
    margin-top: 32px;
    display: block;
  }
}
.question .max-width {
  max-width: 491px;
}
.question_title {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .question_title {
    text-align: center;
    max-width: 100%;
  }
}
.question_text {
  color: #999999;
  margin-bottom: 20px;
}
.question .accordion {
  background: -webkit-gradient(linear, left top, right top, from(#ff6800), to(#ff1f00));
  background: -o-linear-gradient(left, #ff6800 0%, #ff1f00 100%);
  background: linear-gradient(90deg, #ff6800 0%, #ff1f00 100%);
  border-radius: 15px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  border: 2px solid #ffffff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}
.question .accordion span {
  display: block;
  max-width: 90%;
}
@media (max-width: 768px) {
  .question .accordion {
    min-height: 60px;
  }
}
.question .accordion:hover {
  background: #ffffff;
  border: 2px solid #ff6800;
  color: #ff1f00;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.question .active {
  background: #fff;
  border-radius: 15px 15px 0 0;
  border: 2px solid #ff6800;
  color: #333333;
  border-bottom: none;
  margin-bottom: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.question .active:hover {
  border-bottom: none;
}
.question .accordion:after {
  content: "+";
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 300;
  float: right;
  margin-left: 5px;
  position: absolute;
  right: 10px;
  top: 30%;
}
.question .accordion:hover:after {
  color: #ff1f00;
}
.question .active:after {
  content: "−";
  color: #333333;
}
.question .panel {
  border-radius: 0 0 15px 15px;
  border: none;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  margin-bottom: 12px;
  -webkit-transition: max-height 0.2s;
  -o-transition: max-height 0.2s;
  transition: max-height 0.2s;
}
.question .panel-active {
  border: 2px solid #ff6800;
  border-top: none;
  padding: 20px;
}

.contact-us {
  height: 410px;
  background-image: url(../img/contact_us-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.contact-us .container,
.contact-us .row {
  height: 100%;
}
.contact-us .col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contact-us_title {
  color: #ffffff;
  max-width: 462px;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .contact-us_title {
    max-width: 300px;
  }
}

.footer {
  height: 104px;
  font-size: 14px;
  background: #333333;
  color: #ffffff;
}
.footer .container,
.footer .row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .footer iframe {
    height: 400px;
  }
}
@media (max-width: 1024px) {
  .footer iframe {
    height: 400px;
  }
}
@media (max-width: 768px) {
  .footer iframe {
    height: 320px;
  }
}
.footer .modal_form {
  color: #000;
  max-width: 400px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 47px;
}
.footer .modal_form label {
  width: 100%;
}
.footer .modal_form input {
  width: 100%;
  padding-left: 20px;
  height: 56px;
  border-radius: 15px;
  background: #ffffff;
  border: 1px solid #ff2302;
}
.footer input.modal_form_submit {
  margin-top: 45px;
  font-weight: 600;
  font-size: 16px;
  line-height: 47px;
  color: #ff2302;
  -webkit-background-clip: text;
  background-clip: text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 56px;
  border-radius: 15px;
  background: #ffffff;
  border: 1px solid #ff2302;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0;
}
.footer input.modal_form_submit:hover {
  cursor: pointer;
  color: #ffffff;
  background: #ff2302;
}
.footer .graph-modal__container {
  padding: 30px;
}
.footer .width-auto {
  width: auto;
}