<section id="experience" class="experience">
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="img/high _quality-infographics&square.png" alt="experience_image" class="experience_image" />
        <img src="img/high _quality-infographics&square_mob.png" alt="experience_image_mobile"
          class="experience_image-mobile" />
      </div>
      <div class="col max-width">
        <h2 class="experience_title">High Quality <br>
          for Your Experience</h2>
        <p class="experience_text">Vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
          voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.</p>
        <div class="experience_progress-bars">
          <p class="progress-bar-text">75% Completed</p>
          <div class="progress-bar">
            <div data-size="75" class="progress"></div>
          </div>
          <p class="progress-bar-text">90% Completed</p>
          <div class="progress-bar">
            <div data-size="90" class="progress"></div>
          </div>
          <p class="progress-bar-text">50% Completed</p>
          <div class="progress-bar">
            <div data-size="50" class="progress"></div>
          </div>
        </div>

      </div>

    </div>

  </div>
  </div>
</section>