<section id="features" class="features" data-aos="zoom-out">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="features_title">What We Can do</h2>
        <p class="features_subtitle">
          Excepteur sint occaecat cupidatat non proident
        </p>
      </div>
    </div>

    <div class="grid">
      <div class="features_card">
        <img src="img/svg/can_do-web_dev.svg" alt="can_do-web_dev" class="features_card-img" />
        <h3 class="features_card-title">Web Development</h3>
        <p class="features_card-text">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium.
        </p>
      </div>
      <div class="features_card">
        <img src="img/svg/can_do-optimization.svg" alt="can_do-optimization" class="features_card-img" />
        <h3 class="features_card-title">Search Engine Optimization</h3>
        <p class="features_card-text">
          Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet
          commodo nulla facilisi nullam vehicula ipsum
        </p>
      </div>
      <div class="features_card">
        <img src="img/svg/can_do-design.svg" alt="can_do-design" class="features_card-img" />
        <h3 class="features_card-title">Web Design</h3>
        <p class="features_card-text">
          Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
          Donec ullamcorper nulla non metus.
        </p>
      </div>
    </div>
  </div>
</section>