<section id="question" class="question" data-aos="zoom-out">
  <div class="container">
    <div class="row">
      <div class="col max-width">
        <h2 class="question_title">Frequently Asked Question</h2>
        <p class="question_text">
          Excepteur sint occaecat cupidatat non proident
        </p>

        <div class="accordions">
          <button class="accordion">
            <span>Sed ut perspiciatis unde omnis iste natus ?</span>
          </button>
          <div class="panel">
            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis praesentium voluptatum deleniti atque.
            </p>
          </div>

          <button class="accordion">
            <span>Temporibus autem quibusdam et aut ?</span>
          </button>
          <div class="panel">
            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis praesentium voluptatum deleniti atque.
            </p>
          </div>

          <button class="accordion">
            <span>Sed ut perspiciatis unde omnis iste natus ?</span>
          </button>
          <div class="panel">
            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis praesentium voluptatum deleniti atque.
            </p>
          </div>
        </div>
      </div>
      <div class="col text-align-r">
        <img src="img/frequently_asked_questions-infographics-square.png"
          alt="frequently_asked_questions-infographics-square" class="question_image" />
        <img src="img/frequently_asked_questions-infographics-square-mob.png"
          alt="frequently_asked_questions-infographics-square-mob" class="question_image-mob" />
      </div>
    </div>
  </div>
</section>