<section id="testimonials" class="testimonials" data-aos="zoom-out">
  <div class="container">
    <h2 class="testimonials_title">Testimonials</h2>
    <p class="testimonials_subtitle">
      Excepteur sint occaecat cupidatat non proident
    </p>

    <div class="swiper testimonials-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonials_card">
            <p class="testimonials_card-text">
              Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum
              nulla sed consectetur.
            </p>
            <div class="row">
              <img src="/img/client-3.png" alt="client-3" class="testimonials_card-info_img" />
              <div class="testimonials_card-info">
                <p class="testimonials_card-info_name">Floyd Miles</p>
                <p class="testimonials_card-info_position">President of Sales</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonials_card">
            <p class="testimonials_card-text">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium.
            </p>
            <div class="row">
              <img src="/img/client-2.png" alt="client-2" class="testimonials_card-info_img" />
              <div class="testimonials_card-info">
                <p class="testimonials_card-info_name">Robert Johnson</p>
                <p class="testimonials_card-info_position">Graphic Designer</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonials_card">
            <p class="testimonials_card-text">
              Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo
              risus, porta ac consectetur ac, vestibulum at eros.
            </p>
            <div class="row">
              <img src="/img/client-1.png" alt="client-1" class="testimonials_card-info_img" />
              <div class="testimonials_card-info">
                <p class="testimonials_card-info_name">Dianne Russell</p>
                <p class="testimonials_card-info_position">Marketing Coordinator</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>